RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^([a-zA-Z0-9_-]+)$ pages/$1.php [L,QSA]

# Proteção para não listagem de diretórios
Options -Indexes