RewriteEngine On

# Não reescrever arquivos e diretórios que existem fisicamente
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Enviar todas as rotas para o roteador principal
RewriteRule ^ index.php [L,QSA]

# Desabilitar listagem de diretórios
Options -Indexes